@model VegetableShop.Data.Entitis.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prodcut</h4>
    <hr />
    <div>
        <lable>@Html.DisplayNameFor(model => model.Name)</lable>
        <p>@Html.DisplayFor(model => model.Name)</p>
    </div>
    <div>
        <lable>@Html.DisplayNameFor(model => model.CategoryId)</lable>
        <p>@Html.DisplayFor(model => model.CategoryId)</p>
    </div>
    <div>
        <lable>@Html.DisplayNameFor(model => model.Quantity)</lable>
        <p>@Html.DisplayFor(model => model.Quantity)</p>
    </div>
    <div>
        <lable>@Html.DisplayNameFor(model => model.Price)</lable>
        <p>@Html.DisplayFor(model => model.Price)</p>
    </div>
    <div>
        <lable>@Html.DisplayNameFor(model => model.Description)</lable>
        <p>@Html.DisplayFor(model => model.Description)</p>
    </div>
    <div>
        <lable>@Html.DisplayNameFor(model => model.FilePast)</lable>
        
        <img src="/user-content/@Html.DisplayFor(model => model.FilePast)" />
    </div>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
